/* Styles for Giphy Homework */
h1 {
    color: white;
}

header {
    color:white;
}

button, div, form, input {
    margin: 10px;
}

body {
    background-image: url(../images/zwartevilt.png);
    width: auto;
    height: auto;
}

#topic-search, #topic-buttons, #gif-div {
    color: white;
    font-family: 'Francois One', sans-serif;
}

#limitless {
    background-image: url(../images/limitless.gif);
    max-width: 200px;
    max-height: 112px;
}

#topic-form {
    float: right;
}

#gif-div {
    position: absolute;
    width: 100%;
}